<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 4 admin, bootstrap 4, css3 dashboard, bootstrap 4 dashboard, Ample lite admin bootstrap 4 dashboard, frontend, responsive bootstrap 4 admin template, Ample admin lite dashboard bootstrap 4 dashboard template">
    <meta name="description"
        content="Ample Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title> Patients</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="20x20" href="plugins/images/favi.png">
    <!-- Custom CSS -->
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/editformstyle.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->


</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            {{>topBar}} </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">

        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title text-uppercase font-medium font-14"> Patients</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ml-auto">
                                <li><a href="#">Dashboard</a></li>
                            </ol>

                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="box-title">Patients</h3>
                        <div class="white-box">
                            <form action="/adminPatientsList" method="POST" class="app-search d-none d-md-block mr-3">
                                <div class="row">
                                    <div> <input type="text" name="searchPt" placeholder="Search in Patients..."
                                            value="{{search}}" class="form-control mt-0" style="width: 400px;"></div>
                                    <div> <button type="submit" class="btn btn-confirm" name="submitsearch"
                                            value="Search"> <i class="fa fa-search"></i>
                                        </button></div>
                                    <div>
                                        <label style='padding-top: 10px; padding-right:20px;'>Search by:</label>
                                    </div>
                                    <div>
                                        <select name="searchby" title="Search By" class="form-control mt-0"
                                            style="width: 200px;">
                                            {{#if choice }}
                                            <option selected="selected">{{choice}}</option>
                                            {{/if}}
                                            <option>Name</option>
                                            <option>Email</option>
                                            <option>Phone Number</option>
                                            <option>ID</option>

                                        </select>
                                    </div><br><br>

                            </form><br><br>
                            <!-- <p class="text-muted">Add class <code>.table</code></p> -->
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">Patient ID</th>
                                            <th class="border-top-0">First Name</th>
                                            <th class="border-top-0">Last Name</th>
                                            <th class="border-top-0">Email</th>
                                            <th class="border-top-0">Gender</th>
                                            <th class="border-top-0">Phone</th>
                                            <th class="border-top-0">DoB</th>
                                            <th class="border-top-0">Is Assigned</th>
                                            <th class="border-top-0">Reports</th>
                                            <th class="border-top-0" colspan="2">Manage</th>


                                            <th class="border-top-0"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each pateints}}
                                        <tr>
                                            <td>{{this.id}}</td>
                                            <td>{{this.firstName}}</td>
                                            <td>{{this.lastName}}</td>
                                            <td>{{this.email}}</td>
                                            <td>{{this.gender}}</td>
                                            <td>{{this.phoneNumber}}</td>
                                            <td>{{this.dateOfBirth}}</td>
                                            <td>{{this.isAssigned}}</td>

                                            <td>view</td>

                                            <form>
                                                <td style="text-align:center;">
                                                    <input type="hidden" value="{{this.id}}" name="editpatientid">
                                            </form>
                                            <button class="btn"
                                                onclick='getPat("{{this.firstName}}","{{this.lastName}}","{{this.email}}","{{this.phoneNumber}}","{{this.dateOfBirth}}")'
                                                name="editid"><i class="far fa-edit"></i></button>
                                            </td>

                                            <form action="adminPatientsList" method="POST">
                                                <td style="text-align:center;">
                                                    <input type="hidden" value="{{this.id}}"
                                                        name="deletepatientid"><button type="submit" class="btn"><i
                                                            class="fa fa-trash"></i></button>
                                                </td>
                                            </form>
                                        </tr>
                                        {{/each}}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>

            <div class="editPopup">
                <div class="formPopup" id="popupForm">

                    <form action="/editPat" class="formContainer" method="POST">

                        <h2>Edit fields</h2>

                        <label for="fname"> <strong>First Name</strong></label>
                        <input type="hidden" value="{{this.id}}" name="editID">
                        <input type="text" id="fnamenew" value="{{this.firstName}}" name="fnamenew">

                        <label for="lname"> <strong>Last Name</strong> </label>
                        <input type="hidden" value="{{this.id}}" name="editID">
                        <input type="text" id="lnamenew" value="{{this.lastName}}" name="lnamenew">

                        <label for="email"> <strong>Email</strong> </label>
                        <input type="hidden" value="{{this.id}}" name="editID">
                        <input type="text" id="emailnew" value="{{this.email}}" name="emailnew">

                        <label for="phone"> <strong>Phone</strong> </label>
                        <input type="hidden" value="{{this.id}}" name="editID">
                        <input type="text" id="phonenew" value="{{this.phoneNumber}}" name="phonenew">

                        <label for="dob"> <strong>Date of Birth</strong> </label>
                        <input type="hidden" value="{{this.id}}" name="editID">
                        <input type="date" id="dobnew" value="{{this.dateOfBirth}}" name="dobnew">




                        <button type="submit" class="btn">Save</button>
                        <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
                    </form>

                </div>
            </div>

            <script>

                function closeForm() {
                    document.getElementById("popupForm").style.display = "none";
                }



                function getPat(fname, lname, email, phone, dob) {
                    document.getElementById("fnamenew").value = fname;
                    document.getElementById("lnamenew").value = lname;
                    document.getElementById("emailnew").value = email;
                    document.getElementById("phonenew").value = phone;
                    document.getElementById("dobnew").value = dob;
                    document.getElementById("popupForm").style.display = "block";

                }

                var modal = document.getElementById('popupForm');

                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }

            </script>

            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center"> 2021 © BCBD Using Deep Learning
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="plugins/bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="js/custom.js"></script>
    <!--Header -->
    <script src="js/top-bar.js"></script>
</body>

</html>