<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 4 admin, bootstrap 4, css3 dashboard, bootstrap 4 dashboard, Ample lite admin bootstrap 4 dashboard, frontend, responsive bootstrap 4 admin template, Ample admin lite dashboard bootstrap 4 dashboard template">
    <meta name="description"
        content="Ample Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title> Settings</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/" />
    <link rel="icon" type="image/png" sizes="20x20" href="/plugins/images/favi.png">
    <link href="/css/style.min.css" rel="stylesheet">
    {{!--
    <link rel="stylesheet" href="/css/styleReg.css"> --}}

    <style>
        .newSwitch {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 24px;
        }

        .newSwitch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .newSlider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .newSlider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked+.newSlider {
            background-color: #5cb85c;
        }

        input:focus+.newSlider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked+.newSlider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .newSlider.roundd {
            border-radius: 34px;
        }

        .newSlider.roundd:before {
            border-radius: 50%;
        }
    </style>

</head>
<script>
    window.addEventListener("load", function () {
        if (document.getElementById("type").value == "Pathologist") {

            var sc = document.createElement('script');
            sc.src = "js/sidebarmenuPath.js";
            sc.type = 'text/javascript';
            if (typeof sc['async'] !== 'undefined') {
                sc.async = true;
            }
            document.getElementsByTagName('head')[0].appendChild(sc);
        }
        else if (document.getElementById("type").value == "Admin") {

            var sc = document.createElement('script');
            sc.src = "js/sidebarmenu.js";
            sc.type = 'text/javascript';
            if (typeof sc['async'] !== 'undefined') {
                sc.async = true;
            }
            document.getElementsByTagName('head')[0].appendChild(sc);
        }
        else {
            var sc = document.createElement('script');
            sc.src = "js/sidebarmenuPate.js";
            sc.type = 'text/javascript';
            if (typeof sc['async'] !== 'undefined') {
                sc.async = true;
            }
            document.getElementsByTagName('head')[0].appendChild(sc);
        }

    });
</script>


<body>

    <input type="hidden" name="type" value={{user.type}} id="type">
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <header class="topbar" data-navbarbg="skin5">

        </header>
        {{!-- <aside class="left-sidebar" data-sidebarbg="skin6">

        </aside> --}}
        <aside class="left-sidebar" data-sidebarbg="skin6">

        </aside>

        <div class="page-wrapper">
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title text-uppercase font-medium font-14"> {{user.firstName}} {{user.lastName}}
                        </h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ml-auto">
                                <li><a href="#">Dashboard</a></li>
                            </ol>

                        </div>
                    </div>
                </div>
            </div>


            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">

                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Settings</h3>
                            <div class="white-box">
                                <!-- Column -->
                                <div class="col-lg-8 col-xlg-9 col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <form class="form-horizontal form-material" id="add-user" name="addUsers"
                                                method="POST" action='/user/update-password'>


                                                <input type="hidden" name="email" value={{user.email}} id="email">

                                                <div class="form-group mb-4">
                                                    <label class="col-md-12 p-0">Your Current Password</label>
                                                    <div class="col-md-12 border-bottom p-0">
                                                        <span style="color: red;">{{errors.currentPassword}}</span>
                                                        <input placeholder="pass*****" type="password"
                                                            value="{{inputCurrentPassword}}"
                                                            class="form-control p-0 border-0" name='currentPassword'
                                                            id='new-password' <%=user[i].password; %>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-4">
                                                    <label class="col-md-12 p-0">Your New Password</label>
                                                    <div class="col-md-12 border-bottom p-0">
                                                        <span style="color: red;">{{errors.password}}</span>
                                                        <input placeholder="newpass*****" type="password"
                                                            value="{{inputPassword}}" class="form-control p-0 border-0"
                                                            name='password' id='new-password' <%=user[i].password; %>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-4">
                                                    <label class="col-md-12 p-0">Confirm Password</label>
                                                    <div class="col-md-12 border-bottom p-0">
                                                        <span style="color: red;">{{errors.confPassword}}</span>
                                                        <input placeholder="newpass*****" type="password"
                                                            value="{{inputConfPassword}}"
                                                            class="form-control p-0 border-0" id='confPassword'
                                                            name="confPassword" <%=user[i].confPassword; %>
                                                    </div>
                                                </div>


                                                <div class="form-group mb-4">
                                                    <div class="col-sm-12">
                                                        <button type="submit" id='subnewuser'
                                                            class="btn btn-success">Change password</button>
                                                        <!-- <input type="submit" type="button" class="btn btn-success" id="submitUser" onclick="addUsers"/> -->
                                                    </div>
                                                </div>
                                            </form>
                                            <h5> Get Notified by email</h5>
                                            <form method="POST" action="/getMail">
                                                <input type="hidden" name="userId" value={{user._id}} id="userId">
                                                {{#if user.getEmail}}
                                                <label class="newSwitch">
                                                    <input type="checkbox" checked value=true name="notify">
                                                    <span class="newSlider roundd "></span>

                                                </label>
                                                {{else}}
                                                <label class="newSwitch">
                                                    <input type="checkbox" value=false name="notify">
                                                    <span class="newSlider roundd"></span>

                                                </label>
                                                {{/if}}

                                                <input type="submit">
                                            </form>


                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- ============================================================== -->
                    <!-- End Container fluid  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- footer -->
                    <!-- ============================================================== -->

                    <!-- ============================================================== -->
                    <!-- End footer -->
                    <!-- ============================================================== -->
                </div>
            </div>
            <footer class="footer text-center"> 2021 © BCBD Using Deep Learning
            </footer>
        </div>
        <script>

        </script>
    </div>

    <script src="/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/plugins/bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="/js/waves.js"></script>
    <!--Menu sidebar -->


    {{!-- {{#if user.type "Pathologist" }}
    <script src="js/sidebarmenu.js"></script>
    {{else}}

    <script src="js/sidebarmenu.js"></script>
    {{/if}} --}}

    <script>
        var theUser = "Pathologist";
        if (document.getElementById("type").value == "Pathologist") {
            <script src="js/sidebarmenu.js"></script>
    }else{
    {{!--
    <script src="js/sidebarmenu.js"></script> --}}
    }

    </script>

    <!--Custom JavaScript -->
    <script src="js/custom.js"></script>
    <!--Header -->
    <script src="js/top-bar.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>